* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

a {
    text-decoration: none;
}

// #9D8280
// #e1d9d4
// fffbfb
// font parisienne
// https://viewstripo.email/template/2c04f192-8cbc-48c1-9c88-344d7978e563
